<div class='row'>
  <div class='col-xs-12'>
    <a href='{{include.yesResult}}.html' class='btn btn-default'>Yes</a>
    <a href='{{include.noResult}}.html' class='btn btn-default'>No</a>
  </div>
</div>
<div class='row'>
  <div class='col-xs-12'>
    {% if include.prevResult %}
      <a href='{{include.prevResult}}.html' class='btn btn-default'>Back</a>
    {% else %}
      <a class='btn btn-default disabled'>Back</a>
    {% endif %}
    <a href='main.html' class='btn btn-default'>Restart</a>
  </div>
</div>
