body {
  padding: 0;
}

.equator {
  border: 1px solid #000;
  padding-top: 5px;
  padding-left: 20px;
  padding-right: 20px;

  .questionText {
    margin: 0;
  }

  .btn {
    min-width: 100px;
  }

  #page .btn {
    margin-bottom: 10px;
  }

  #options .btn {
    visibility: hidden;
  }

  #options .start {
    visibility: visible;
    color: #fff;
    background-color: #ff8b38;
  }

  #resultBody {
    p:last-child {
      margin: 0;
    }
    .btn {
      color: #fff;
      background-color: #ff8b38;
      border-width: 1px;
      width: 180px;
    }
  }

  footer {
    padding: 10px 0;
    img {
      display: inline-block;
      height: 35px;
      vertical-align: bottom;
    }
  }

  #page {
    min-height: 310px;
    @media (max-width: 450px) {
      min-height: 360px;
    }
    @media (max-width: 400px) {
      min-height: 380px;
    }
    @media (max-width: 350px) {
      min-height: 400px;
    }
    @media (max-width: 300px) {
      min-height: 420px;
    }
    @media (max-width: 250px) {
      min-height: 440px;
    }
  }
}
