<!DOCTYPE html>
<html>
  <head>
    {% include wizard-head.html %}
  </head>
  <body>
    <div class='title'>
      {% include title.html %}
    </div>
    <div class='information'>
      {% include {{page.information}} checkList=page.checkList checkListLink=page.checkListLink moreInfoLink=page.moreInfoLink extensionsLink=page.extensionsLink %}
    </div>
    <div class='action'>
      <div class='row'>
        <div class='col-xs-9'>
          <div class='page-action'>
            {% include {{page.action}} yesResult=page.yesResult noResult=page.noResult prevResult=page.prevResult %}
          </div>
          <div class='contact'>
            {% include contact.html %}
          </div>
        </div>
        <div class='col-xs-3'>
          <div class='logo'>
            {% include logo.html %}
          </div>
        </div>
      </div>
    </div>

    <script src="/{{site.baseurl}}/js/bootstrap.js"></script>
    <script src="/{{site.baseurl}}/js/bootstrap-filestyle.js"></script>
    <script src="/{{site.baseurl}}/js/ie10viewporthack.js"></script>
    <script src="/{{site.baseurl}}/js/offcanvas.js"></script>
    <script src="/{{site.baseurl}}/js/iframeResizer.contentWindow.min.js"></script>
    <script src="/{{site.baseurl}}/js/lodash.min.js"></script>
    <script src="/{{site.baseurl}}/js/jst.js"></script>
    <script src="/{{site.baseurl}}/js/equator.js"></script>
  </body>
</html>
